@keyframes salto {
    0%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }

    80% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }
}

  /* menu superior */
  .navbar{
    background-color: #374061;
    width: 100%;
  }

  .navbar-brand img{
    width: 30px;
  }

  .navbar-default .navbar-nav li a {
    color: #fff;
  }


  .navbar-right li:hover a:hover{
    background: #fff;
    animation: salto 1s;
    border-radius: 2px;
    color: #374061;
  }

  /* Sobre nós */
  .amostra {
    margin-top: 1.5em;
    padding: 2.5em;
    background-color: #374061;
    color: #fff;
  }

  .bloco-sobre {
    display: flex;
    align-items: center;
  }

  .imagem-sobre-nos img {
    width: 20em;
  }

  /* porfolio */

  .container h2{
    text-align: center;
  }

  .portfolio {
    margin-top: 1.5em;


  .thumbnail:hover {
    -webkit-box-shadow: 4px 9px 5px 2px rgba(0,0,0,0.49);
    -moz-box-shadow: 4px 9px 5px 2px rgba(0,0,0,0.49);
    box-shadow: 4px 9px 5px 2px rgba(0,0,0,0.49);
  }}

  /* Contato */

  .contato {
    background-color: #374061;
    padding: 1em;
    height: 100%;
  }

  .contato h2, address{
    color: #fff;
    text-align: center;
  }

  address {
    color: rgb(245, 196, 109);
    border-bottom: 1px solid white;
  }

  .forms {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .form-group {
    color: #fff;
    width: 29em;
    text-align: center;
  }

  .btn{
    background-color: rgb(245, 196, 109);
    border: none;
    width: 7em;
  }

  #map {
    margin-top: 1.5em;
    border: 10px solid #fff;
    border-radius: 50%;
    width: 20em;
    height: 20em;
  }

  /*footer */

  .icones-redes-sociais{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;

  }

  .icones-redes-sociais img {
    width: 50px;
    height: 50px;
    margin-right: 2em;
  }

@media (max-width: 480px) {

  .nav{

  }

  .bloco-sobre {
    display: flex;
    flex-direction: column;
  }

  .imagem-sobre-nos img {
    width: 150px;
  }

  .thumbnail h3 {
    font-size: 28px;
  }

  .forms {
    display: flex;
    flex-direction: column;
  }

  .form-group {
    width: 20em;
    align-items: center;
  }

  .btn{
    width: 20em;
  }

  blockquote p {
    font-size: .9em;
  }
}
